#bookmark-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bookmark-item {
  padding: 16px;
  background: #f1f6f9;
  display: flex;
  border-bottom: solid 1px #e9eef1;
  align-items: center;

  &--edit-mode {
    .bookmark-item__label {
      display: none;
    }
    .bookmark-item__edit-area {
      display: flex;
    }
  }

  &--update-error {
    align-items: baseline;

    .bookmark-item__edit-area {
      padding-bottom: 30px;
    }

    .bookmark-item__update-message {
      display: block;
    }
  }

  &__label {
    flex-grow: 1;
    text-align: left;

    &-date {
      opacity: .8;
      font-size: .8rem;
      margin: 0 24px 0 0;
    }
  }

  &__edit-area {
    display: none;
    flex-grow: 1;
    padding: 0 24px 0 0;
    position: relative;

    input {
      flex-grow:1;
      padding: 16px;
      border: none;
      font-size: 1rem;
    }
  }

  &__button {
    background: #1d79ea;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 100;
    padding: 16px;

    &--delete {
      background: #fb6060;
    }
  }

  &__update-message {
    background: #f73233;
    color: white;
    width: calc(100% - 40px);
    padding:8px;
    position: absolute;
    bottom: -6px;
    font-size: .8rem;
    display: none;
  }
}
