#input-area {
  background: #e0e7ec;
  padding: 20px;
  display: flex;
  position: relative;
}

label {
  text-align: left;
  display: block;
  margin: 12px 0;
  width: 100px;
  align-self: center;
}

#url-input {
  width: 100%;
  border: none;
  padding: 18px 24px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

button {
  background: #1d79ea;
  color: white;
  width: 100px;
  border-radius: 0 4px 4px 0;
  border: none;
  font-size: 1rem;
  font-weight: 100;
}

#message-area {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.error-message {
  background: #f73333;
  color: white;
  padding: 2px 8px;
}