.pagination {
  justify-content: center;
  display: flex;

  &__item {
    padding: 8px;
    margin: 4px;
    background: #cce2fd;
    border-radius: 4px;
    cursor: pointer;

    &--active {
      background: #71abf3;
    }
  }


}